html, body {
  max-height: 100%;
  height: 100vh;
  background-image: url("../bulb.png") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.template {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 1.5em;
}

.submit {
  width: 50% !important;
  height: 5% !important;
}
